*{
    margin:0px;
    padding:0px;
    /*box-sizing: border-box;*/
    font-family: Arial;


}
.mainbody{
    background-color:white;
}

nav{

    width:100%;
    height:12%;
    background-color: white;
    font-weight: bolder;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: absolute;
    top:0;
    z-index:1;
}
.logo{
    font-family: Algerian;
    font-size: 32px;
    font-weight: bold;
    padding-left:5%;
    padding-top: 3%;
}
.menu{
    width:65%;
    display: flex;
    justify-content:center;
    list-style: none;
}
.menu li{
    margin-left: 20px;

}
.menu li a{
    font-size: 19px;
    color:black;
    text-decoration: none;

}

.manu li a:hover{
    color:darkslategrey;

}
.search{

    display: flex;
    align-items: center;
    margin-right:150px;
}
.search form {

    display: flex;
    margin: 0;
}
.search input{
    background-color: black;
    color: white;
    padding:10px;
    border:1px solid black;
    outline:none;
    margin-right: 10px;
    font-size: 16px;
  
}
.search button{
    background-color: black;
    color: whitesmoke;
    padding:10px;
    border:none;
    border-radius:5px;
    font-size:19px;
    cursor:pointer;
}
button:hover{
    transform:scale(1.3%);
}
.car{


    width:100%;
    height:950px;
    margin-top:150px;
}
.car img{
    background-size: contain;
    background-repeat: no-repeat;
    width:95%;
    height:100%;
    padding-left: 3%;
    backdrop-filter: saturate(500%);

}


.second{
    text-underline: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-top:2%;
    margin-left: 30%;
    background-color:white;
    color: black;
    width:40%;
    height:100px;
    margin-top:400px ;
    border: 2px solid white;
}



.firstparagraph{
    text-align: center;
    align-items: center;
    background-color:whitesmoke;
    color: black;
    width:25%;
    height:500px;
    margin-left: 2%;

}
.div2{
    height: 500px;
    width: 25%;
    background-color: green;
   margin-left: 50%;
    margin-top:15%;
}










