*{
    margin:0px;
    padding:0px;
    /*box-sizing: border-box;*/
    font-family: Arial;


}
.mainbody{
    background-color:white;
}

nav{

    width:100%;
    height:12%;
    background-color: white;
    font-weight: bolder;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: absolute;
    top:0;
    z-index:1;
}
.logo{
    font-family: Algerian;
    font-size: 32px;
    font-weight: bold;
    padding-left:5%;
    padding-top: 3%;
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    backdrop-filter: saturate(500%);
    background-image: url("LogoVehicle.png");
}

.menu{
    width:65%;
    display: flex;
    justify-content:center;
    list-style: none;
}
.menu li{
    margin-left: 20px;

}
.menu li a{
    font-size: 19px;
    color:black;
    text-decoration: none;

}

.manu li a:hover{
    color:darkslategrey;

}
.search{

    display: flex;
    align-items: center;
    margin-right:150px;
}
.search form {

    display: flex;
    margin: 0;
}
.search input{
    background-color: black;
    color: white;
    padding:10px;
    border:1px solid black;
    outline:none;
    margin-right: 10px;
    font-size: 16px;
  
}
.search button{
    background-color: black;
    color: whitesmoke;
    padding:10px;
    border:none;
    border-radius:5px;
    font-size:19px;
    cursor:pointer;
}
button:hover{
    transform:scale(1.3%);
}
.car{


    width:100%;
    height:950px;
    margin-top:150px;
}
.car img{
    background-size: contain;
    background-repeat: no-repeat;
    width:95%;
    height:100%;
    padding-left: 3%;
    backdrop-filter: saturate(500%);

}


.secondmain{
    display: flex;
    position: relative;
    margin-left:50px;
    height: 900px;
    width:95%;
    background-color: green;
}

.secondmain #userregistration{
    position: absolute;
    height: 600px;
    width:100%;
    background-color: #00eeff;

}
.secondmain #userregistration {
    height: 600px;
    width: 50%;
    background-color: grey;

}
.secondmain #userregistration #paragraph{
    position: absolute;
    height: 600px;
    width: 50%;
    background-color: yellow;
    right: 0;

}
















